.master_container
  .officer
    Innovate
    %br
    Officers
  / -@officers.each do |t|
  .user_wrapper
    / %script{type: "text/javascript", src: "javascript/user.js"}
    .user_container
      #hi.user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
  %br
  %br

  .officer
    Innovate
    %br
    Board
  / -board.each do |t|
  .user_wrapper
    .user_container
      #hi.user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
  %br
  %br

  .officer
    Innovaters
  / -@regular.each do |t|
  .user_wrapper
    .user_container
      #hi.user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      #hi.user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      #hi.user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.
    .user_container
      .user_container-picture_container
      .user_container-text
        Sup bros.