@import "twitter/bootstrap";
@import "font-awesome";

/*Centering*/

.center{
  margin:auto;
}

/*Navbar Image*/
.navbar-img-container{
  height:300px;
  width:100%;
  overflow:hidden;
}

.navbar-img{
  height:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*Navbar*/
.navbar-border{
  border-radius:0 !important;
}

.navbar-active{
  background-color:#000 !important;
}

.navbar-content{
  display:block !important;
  width:635px !important;
  vertical-align:center !important;
  margin-left:auto !important;
  margin-right:auto !important;
}

.navbar-text{
  font-size:large;
  margin:0 !important;
}

.nav > li > a{
  padding:20px 30px !important;
}

/*Cover*/

.cover-module{
  background-color: rgb(72, 72, 72);
  background-color: rgba(72, 72, 72, 0.8);
  width:50%;
  height:90px;
  z-index:5;
  top:83%;
  position:fixed;
}

.cover-module-inner{
  height:90px;
  width:300px;
  color:#fff;
  font-style:italic;
  font-weight:bolder;
  margin-left:50px;
  padding-top:15px;
  margin-right:10px;
  font-size:3em;
  overflow:hidden;
}

.cover-module-button{
  background-color: rgb(255, 128, 0);
  color:#000;
  opacity:0;
  width:120px;
  height:100%;
  padding-top:13px;
  padding-left:15px;
  right:0;
  top:0;
  position:absolute;
  margin-left:auto;
}

.cover-module:hover .cover-module-button{
  width:60px;
  opacity:0.6;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.cover-img{
  min-height:100%;
  min-width:1380px;
  width:100%;
  height:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.cover-img-overlay{
  min-height:100%;
  min-width:1380px;
  width:100%;
  height:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:0;
  opacity: 0;
}

@media screen and (max-width: 1380px){
  .cover-img{
    left:50%;
    margin-left:-690px;
  }
}