@import "twitter/bootstrap";
@import "font-awesome";

/*Container*/
.master_container {
  max-width:1000px;
  margin-left:auto !important;
  margin-right:auto !important;
}

/*Font*/
@font-face{
  font-family: 'Arvo-Regular';
  src:font-url('Arvo-Regular.ttf');
  src:font-url('Arvo-Regular.ttf?iefix') format('truetype');
  font-weight:normal;
  font-style:normal;
}

html *{
  font-family: 'Arvo-Regular';
}

html{
  overflow-y:scroll;
  height:100%;
}

body{
  height:100%;
}

/*User*/
.user_wrapper{
  border-left:1px solid #808080;
}

@media (max-width: 680px){
  .user_wrapper{
    width:250px;
    margin-left:30px;
    margin-top:100px;
    border-left:0;
  }
}

@media (min-width: 681px){
  .user_wrapper{
    width:500px;
    margin-left:260px;
    margin-top:20px;
  }
}

@media (min-width: 920px){
  .user_wrapper{
    width:650px;
    margin-left:260px;
    margin-top:20px;
  }
}

.officer{
  font-size:3em;
  float:left;
  margin-left:40px;
  margin-top:60px;
}

.user_container{
  display:inline-block;
  padding:5px;
  margin:10px;
  border:1px solid #808080;
  width:180px;
  /*background-color:#E0E0E0;*/
  background-color:#fff;
  border-radius:5px;
  box-shadow:1px 1px 5px #000;
  height:250px;
}

.user_container:hover{
  width:185px;
  margin-left:7.5px;
  margin-right:7.5px;
  cursor:pointer;
/*  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;*/
}

.user_container-picture_container{
  margin-top:10px;
  width:150px;
  height:150px;
  border-radius:50%;
  padding:3px;
  background-color:#fff;
  border:1px solid #808080;
  box-shadow:1px 1px 5px #808080;
  margin-right:auto;
  margin-left:auto;
}

.user_container-text{
  margin-top:10px;
  text-align:center;
  font-weight:bold;
  color:#707070;
  font-size:1.5em;
}

/*footer*/
#wrap{
  min-height:100%;
}

#main{
  overflow:auto;
  padding-bottom:100px;
}

.footer{
  position: relative;
  margin-top:-100px;
  height:100px;
  clear:both;
  padding-top:20px;
}

.footer_content{
  /*min-width:400px;*/
  border-top:1px solid #606060;
}

.footer_content-left{
  width:200px;
  text-align:left;
}

.footer_content-right{
  margin-right:10px;
  text-align:right;
  font-size:small;
  margin-top:-36px;
}

.footer_content-icon{
  margin-top:5px;
  margin-right:5px;
  cursor:pointer;
  padding:10px;
  background-color:#E8E8E8;
  width:36px;
  display:inline-block;
}

.footer_content-icon:hover{
  background-color:#D0D0D0;
}

/*Centering*/

.center{
  margin:auto;
}

/*Navbar Image*/
.navbar-img-container{
  height:60px;
}

.navbar-img{
  height:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*Navbar*/
.navbar{
  margin-bottom:20px !important;
  background-color:#fff !important;
  border:0 !important;
  min-height:40px !important;
  border-bottom:1px solid #606060 !important;
}

.navbar-border{
  /*border-radius:0 !important;*/
}

.navbar-active{
  background-color:#F0F0F0 !important;
}

.navbar-content{
  display:block !important;
  /*width:635px !important;*/
  vertical-align:center !important;
  margin-left:auto !important;
}

.navbar-text{
  font-size:medium;
  margin:0 !important;
  float:right !important;
  margin-right:100px !important;
}

.nav > li > a{
  padding:5px 5px !important;
  margin:5px !important;
}

.nav > li > a:hover{
  color:#808080 !important;
}


/*Cover*/

.cover-module{
  background-color: rgb(72, 72, 72);
  background-color: rgba(72, 72, 72, 0.8);
  width:50%;
  min-width:450px;
  height:90px;
  z-index:5;
  top:83%;
  position:fixed;
}

.cover-module-inner{
  height:90px;
  width:350px;
  color:#fff;
  font-weight:bolder;
  margin-left:50px;
  padding-top:15px;
  margin-right:10px;
  font-size:3em;
  overflow:hidden;
}

.cover-module-button{
  background-color: rgb(255, 128, 0);
  color:#000;
  opacity:0;
  width:120px;
  height:100%;
  padding-top:13px;
  padding-left:15px;
  right:0;
  top:0;
  position:absolute;
  margin-left:auto;
}

.cover-module:hover .cover-module-button{
  width:60px;
  opacity:0.6;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.cover-img{
  min-height:100%;
  min-width:1380px;
  width:100%;
  height:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.cover-img-overlay{
  min-height:100%;
  min-width:1380px;
  width:100%;
  height:auto;
  position:fixed;
  top:0;
  left:0;
  z-index:0;
  opacity: 0;
}

@media screen and (max-width: 1380px){
  .cover-img{
    left:50%;
    margin-left:-690px;
  }

/*  .home-img{
    right:50%;
    margin-right:-690px;
  }*/
}

/* Home */

.home_wrap{
  width:100%;
  margin-top:40px;
  padding:10px;
}

.home_wrap_right-header{
  font-size:2em;
  font-style:italic;
}

.home_wrap_right-text{
  font-size:1em;
  font-style:normal;
}

/*.home-img{
  min-width:1380px;
  height:auto;
  width:100%;
  z-index:-1;
  position:absolute;
}

.overlay{
  z-index:10;
  opacity:0.5;
}

.home-img-overlay{
  width:100%;
  height:550px;
  background-color:#C0C0C0;
  opacity:.5;
  top:0;
  z-index:10;
  overflow:hidden;
  transform:skewX(-60deg);
  -moz-transform:skewX(-60deg);
  -webkit-transform:rotate(-60deg);
}*/