%footer.footer.master_container 
  .footer_content
    .footer_content-left
      / .footer_content-icon
      /   %i.icon-facebook-sign.icon-large
      / .footer_content-icon
      /   %i.icon-twitter.icon-large
      / .footer_content-icon
      /   %i.icon-linkedin.icon-large
    .footer_content-right
      © 2013, Innovate LLC, All Rights Reserved