%footer.footer
  .footer_content
    .footer_content-left
      .footer_content-icon
        %i.icon-facebook-sign.icon-large
      .footer_content-icon
        %i.icon-twitter.icon-large
    .footer_content-right
      All rights reserved, Innovate LLC